@using MvcKutuphane.Models.Entity
@model List<TblYazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-bordered table-striped">
    <tr style="background-color:rgb(252,178,22) ">
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>YAZAR KİTAPLARI</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.SOYAD</td>
            <td>@Html.ActionLink("Sil","YazarSil",new{id=x.ID},
                    new{@class="btn btn-danger",onclick="return confirm('Silmek istiyor musunuz?')"})</td>
            <td><a href="/Yazar/YazarGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Yazar/YazarKitaplar/@x.ID" class="btn btn-warning">Yazarın Kitapları</a></td>

        </tr>
    }
</table>
<a href="/Yazar/YazarEkle/" class="btn btn-primary">Yeni Yazar Ekle</a>