@using MvcKutuphane.Models.Entity
@model List<TblPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>

<table class="table table-bordered">
<tr>
    <th>PERSONEL ID</th>
    <th>PERSONEL ADI</th>
    <th>SİL</th>
    <th>GÜNCELLE</th>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@x.ID</td>
        <td>@x.PERSONEL</td>
        <td>
            @*<a href="/Kategori/KategoriSil/@x.ID" class="btn btn-danger">SİL</a>*@
            <form action="/Personel/PersonelSil/@x.ID">
                <button class="btn btn-danger" id="BtnSil">Sil</button>
            </form>
        </td>
        <td><a href="/Personel/PersonelGetir/@x.ID" class="btn btn-success">GÜNCELLE</a></td>
    </tr>
}
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>